.logo {
  background-image: asset-url("denise-jans-Lq6rcifGjOU-unsplash.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 65vh;

}

.logo-text {
  background-color: rgb(40, 39, 37);
  color: white;
  padding: 5px;
}

.logo-text h1 {
  margin: 0;
  padding: 0;
}
